*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-light);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(var(--color-dark-rgb), 0.1);
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-serif);
    font-size: 15px;
    background: var(--color-light);
    color: var(--color-dark);
    margin: 0;
    line-height: 1.5;
    height: 100vh;
    overflow-x: hidden;
}

// Maps: Heading
$headings: (
    "h1": $h1-font-size,
    "h2": $h2-font-size,
    "h3": $h3-font-size,
    "h4": $h4-font-size,
    "h5": $h5-font-size,
    "h6": $h6-font-size
) !default;

@each $type, $value in $headings {
    #{$type} {
        font-size: $value;
        margin-bottom: 0.7rem;
    }

    .#{$type} {
        font-size: $value;
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

.bx {
    font-size: 21px;
    color: rgba(var(--color-dark-rgb), 0.8);
}

.online-dot {
    position: absolute;
    top: 36px;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--color-success);
    border: 3px solid var(--color-light);
}

// Tiny MCE
.tox:not(.tox-tinymce-inline).tox-tinymce--toolbar-bottom .tox-editor-header {
    border-top: none !important;
}

.tox .tox-tbtn svg {
    fill: #6e747a !important;
}

// Hover State
.hover-scale-1 {
    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        cursor: pointer;
    }
}

.scale-1 {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

// Tooltip
.custom-tooltip {
    --bs-tooltip-font-size: 16px;
    --bs-tooltip-bg: var(--color-dark);
    --bs-tooltip-color: var(--color-light);
    --bs-tooltip-padding-y: 7px;
    --bs-tooltip-padding-x: 12px;
}

// Auto Wrap Overflow
.overflow-auto {
    overflow-x: auto;
    flex-flow: nowrap;
    padding-bottom: 16px;
}

// Placeholders
.placeholder {
    border-radius: 24px;
    background-color: var(--color-medium);
}

// Background Overlayer
.background-overlay {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(var(--color-light-rgb), 0.8);
        backdrop-filter: blur(8px);
    }
}

// Font Secondary

.font-secondary {
    font-family: var(--font-secondary);
}


// Cart

.cart-img {
    width: 180px;
    height: 120px;
    object-fit: cover;

    @media (max-width: 564px) {
        width: 60px;
        height: 60px;
    }
}

.cart-items {
    display: flex;
    gap: 2rem;

    .cart-details {
        width: 100%;
    }
}


// Course Star Rating

.course-star-rating {
    display: flex;
    align-items: center;

    .material-icons-outlined {
        font-size: 16px;
        color: var(--color-warning);
    }
}


// Image Object Fit
.object-fit-cover {
    object-fit: cover;
} 

.solid-border {
    border: 1px solid rgba(var(--color-dark-rgb), 0.1);
}

// Z-indexing
.z-index-0 {
    z-index: 0;
}

.list-style-none {
    list-style: none;
}