#application-form {  
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "left-wrapper right-wrapper";

    @include md {
        grid-template-columns: 0.8fr 1.2fr;
    }
    
    @include sm {
        padding: 1.5rem;
        grid-template-columns: 1fr;
        grid-template-areas:
            "left-wrapper left-wrapper"
            "right-wrapper right-wrapper";
    }
    
    .left-wrapper { 
        grid-area: left-wrapper; 
        background-color: rgba(var(--color-dark-rgb), 0.01);
        padding: 2rem;
        
        @include sm {
            padding: 0;
        }

        .application-journey-container {
            position: sticky;
            top: 32px;
        }
    }
    
    .right-wrapper { 
        grid-area: right-wrapper; 
        padding: 2rem 7rem;

        @include md {
            padding: 2rem 3rem;
        }

        @include sm {
            padding: 2rem 0;
        }
    }

    .bread {
        .bread-menu {
            overflow: auto;
            white-space: nowrap;
            list-style: none;
            padding: 0;
            margin: 6px 0;
            display: flex;
            align-items: center;
            gap: 0.3rem;
        
            .bread-item {
                color: rgba(var(--color-dark-rgb), 0.6);
        
                .bread-link {
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;
                    
                    &::before {
                        font-family: 'Material Icons Outlined';
                        font-size: 24px;
                        content: "\e5cb";
    
                    }
                    
                    &:first-child {
                        margin-left: -8px;
                        margin-right: 8px;
                    }
                }
        
                .bread-link[aria-current="page"] {
                    color: var(--color-dark);
                }
            }
        }
    
        h4, .bread-header {
            font-size: 32px;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 1rem;
    
            @include sm {
                font-size: 24px;
            }
        }
    
        .bread-text, span, p {
            font-size: 18px;
            line-height: 1.8;
        }
    }
}

